.player-grid {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
}

#myProgress {
  width: 100%;
  background-color: grey;
}

#myBar {
  width: 1%;
  height: 30px;
  background-color: green;
}